@font-face {
  font-family: "playfait";
  src:
    url(../font/PlayfairDisplay-Italic.woff) format(woff),
    url(../font/PlayfairDisplay-Italic.woff2) format(woff2);
}
@font-face {
  font-family: "playfare";
  src:
    url(../font/PlayfairDisplay-Regular.woff) format(woff),
    url(../font/PlayfairDisplay-Regular.woff2) format(woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "playfare";
}

.main_image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url(../img/food_background.jfif) center / cover;
  .main_wrapper {
    color: white;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      text-align: center;
      font-family: "playfait";
      color: #fcb454;
      font-size: 2.4rem;
    }
    p {
      color: #fef3e2;
      font-size: 1.6rem;
    }
    span {
      margin-left: 5rem;
      display: inline-block;
      margin-top: 0.5rem;
    }
    .location_form {
      text-align: center;
      .location {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding: 0.6rem;
        border-radius: 2rem;
        border: none;
        outline: none;
      }
      button {
        width: 30%;
        text-align: center;
        background-color: #fcb454;
        color: black;
        padding: 0.6rem;
        margin: 1rem auto 0;
        border-radius: 2.2rem;
        border: none;
      }
    }
  }
}

.main_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(230, 227, 222, 0) 0%,
    rgba(34, 46, 45, 0.92154789535545814) 86%,
    rgba(1, 15, 15, 0.96584713) 99%
  );
}

.foods {
  padding: 60px 0;
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
    .food_card {
      flex: 1;
      background-color: white;
      padding: 15px;
      text-align: center;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .product_heading {
        font-size: 18px;
        padding: 6px;
        margin: 0 6px;
      }
    }
  }
}
